.btn {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: $primary-clr;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white-clr;
  box-shadow: 2px 2px 10px rgba($primary-clr-dark, 0.2),
    inset 0 -3px 0 rgba($primary-clr-dark, 0.7);
  transition: box-shadow 100ms ease-in-out, background 200ms ease-in-out;

  &:hover {
    background: darken($primary-clr, 4);
    box-shadow: 2px 2px 10px rgba($primary-clr-dark, 0.2),
      inset 0 -3px 0 rgba($primary-clr-dark, 0.9);
  }

  &:active {
    background: $primary-clr;
    box-shadow: 4px 4px 16px rgba($primary-clr-dark, 0.3),
      inset 0 0px 0 rgba($primary-clr-dark, 0.7);
  }
}
