.post_button {
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
}
.link{
  text-decoration: none;
}

.MuiButton-containedPrimary {
    color: #fff;
    background-color: #23a5b4 !important;
}

.MuiSvgIcon-fontSizeSmall {
  position: relative;
  padding-right: 0px;
  margin-right: 6px;
}

.location {
  font-size: 13px;
  color: grey;
  font-weight: 500px;
  margin-left: 32px;
 }

.MuiSvgIcon-fontSizeSmall {
  position: relative;
  padding-right: 0px;
  margin-right: 6px;
}

.MuiButton-containedPrimary {
    color: #fff;
    background-color: #23a5b4 !important;
}
.link{
  text-decoration: none;
  margin-top: 30px;
}

svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeLarge {
    position: relative;
    font-size: 22px;
    top: 4px;
}

.post_status{
  margin-left: 155px;
}

.post_location {
  padding-left: 38px;
  padding-top: 3px;
}
