
.navbar-lewagon {
  justify-content: space-between;
  background: white;
  display: flex;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
ul.navbar-nav.mr-auto {
    display: flex;
    list-style-type: none;
    float: right;
    padding-right: 20px;
    padding-top: 15px;
}

.avatar.dropdown-toggle {
  width: 40px;
  border-radius: 50%;
}

.navbar_title {
  text-decoration: none;
  color: #3aaebb;
  font-size: 18px;
  font-weight: bold;
}
.navbar.navbar-expand-sm.navbar-light.navbar-lewagon {
  height: 78px;
  box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  z-index: 1;
}

.navbar_text{
  padding-top: 16px;
  padding-left: 20px;
  font-family: 'Roboto', sans-serif;
}

.navbar_link{
  text-decoration: none;
}

.navbar_paragraph{
  color: #3aaebb;
  font-weight: 200;
}

#sign_up{
  padding-top: 16px;
  padding-right: 29px;
  text-decoration: none;
}

#login{
  padding-top: 16px;
  padding-right: 29px;
  text-decoration: none;
}

.nav-item-links{
  text-decoration: none;
  color: #3aaebb;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}
#logout {
  padding-top: 16px;
  padding-right: 29px;
}
