.home-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ecfbfc;
}

.jobs-container {
  width: 60%;
  padding: 20px;
  margin-top:50px;
}

.side-container {
  width: 40%;
  padding: 20px;
  height: 450px;
}


