.home-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: baseline;
  background-color: #ecfbfc;
}

.jobs-container {
  width: 60%;
}

.side-container {
  padding: 1px;
  width: 23%;
  height: 1000px;
}


