<div class="navbar">
  <div class="navbar-text">
  <a href="/" class="navbar-link"><h1 class="navbar-title">SPREAD THE LOVE</h1></a>
  <p class="navbar-paragraph">Your community Job Board</p>
  </div>
  <div class="navbar-nav">
    <% if user_signed_in? %>
      <%= link_to "Logout", destroy_user_session_path, class: "btn", :method => :delete %>
    <% else %>
    <div class="nav-item nav-item-links">
      <%= link_to "Sign-up", new_user_registration_path, class: "btn"%>
      <%= link_to "Login", user_session_path, class: "btn" %>
    </div>
    <%end%>
    <div class="nav-item">
      <%= image_tag "https://source.unsplash.com/O3ymvT7Wf9U/200x200/", class: "avatar" %>
    </div>
  </div>
</div>



