
.post_image {
  width: 150px;
  height: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.name{
  margin-top: 8px;
  color: #23a5b4;
  font-weight: 100;
  font-size: 14px;
  text-align: center;
}
