form {
  max-width: 450px;
  margin: 0 auto;

  // positioning context
  div {
    position: relative;
    background: white;
    border-radius: 8px;
    margin-bottom: 5px;

    // Looks like placeholder
    label {
      opacity: 0.3;
      font-weight: bold;
      position: absolute;
      top: 18px;
      left: 20px;
    }

    input[type="email"],
    input[type="password"] {
      width: 100%;
      border: 0;
      border-radius: 8px;
      padding: 20px 20px 20px 50px;
      background: #eee;

      &:focus {
        // removing default focus style
        outline: 0;
        // adding new one
        background: white;

        & + label {
          opacity: 0;
        }
      }

      &:valid {
        background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/check.svg);
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: 20px 20px;
        & + label {
          opacity: 0;
        }
      }

      &:invalid:not(:focus):not(:placeholder-shown) {
        background: pink;
        border-radius: 8px;
        & + label {
          opacity: 0;
        }
      }

      &:invalid:focus:not(:placeholder-shown) {
        & ~ .requirements {
          border-radius: 8px;
          max-height: 200px;
          padding: 0 30px 20px 50px;
        }
      }
    }

    .requirements {
      padding: 0 30px 0 50px;
      color: #999;
      max-height: 0;
      transition: 0.28s;
      overflow: hidden;
      color: rgba(255, 0, 0, 0.5);
      font-style: normal;
      font-size: 80%;
      font-weight: light;
    }
  }

  input[type="submit"] {
    display: block;
    width: 100%;
    margin: 20px 0;
    background: #2da5b3;
    color: white;
    border: 0;
    padding: 20px;
    font-size: 1.2rem;
    border-radius: 8px;
  }
}

body {
  background: #333;
  font-family: "PT Sans", sans-serif;
  padding: 20px;
}

* {
  box-sizing: border-box;
}
